<!-- views/partials/footer.ejs -->
<center>
<!--<p>The links below will be removed. It is a quick way to test all the CRUD routes</p>-->

<!-- POST LINKS -->

<!--router.get('/post/create', post_controller.post_create_get);-->
<!--<a href="/blog/post/create">Post Create GET </a> | -->

<!--router.post('/post/create', post_controller.post_create_post);-->
<!--<a href="/blog/post/create">Post Create POST </a> | -->

<!--router.get('/post/:post_id/delete', post_controller.post_delete_get);-->
<!--<a href="/blog/post/:post_id/delete">Post Delete GET </a> | -->

<!--router.post('/post/:post_id/delete', post_controller.post_delete_post);-->
<!--<a href="/blog/post/:post_id/delete">Post Delete POST   </a> | -->

<!--router.get('/post/:post_id/update', post_controller.post_update_get);-->
<!--<a href="/blog/post/:post_id/update">Post Update GET </a> |-->

<!--router.post('/post/:post_id/update', post_controller.post_update_post);-->
<!--<a href="/blog/post/:post_id/update">Post Update POST </a> |-->

<!--router.get('/post/:post_id', post_controller.post_detail);-->
<!--<a href="/blog/post/:post_id">Post Detail One  </a> |-->

<!--router.get('/posts', post_controller.post_list);-->
<!--<a href="/blog/posts">Post Detail All </a> -->

<br/>

<!-- AUTHOR LINK -->

<!--router.get('/author/create', author_controller.author_create_get);-->
<!--<a href="/blog/author/create">Author Create GET </a> | -->

<!--router.post('/author/create', author_controller.author_create_post);-->
<!--<a href="/blog/author/create">Author Create POST </a> | -->

<!--router.get('/author/:author_id/delete', author_controller.author_delete_get);-->
<!--<a href="/blog/author/:author_id/delete">Author Delete GET </a> | -->

<!--router.post('/author/:author_id/delete', author_controller.author_delete_post);-->
<!--<a href="/blog/author/:author_id/delete">Author Delete POST   </a> | -->

<!--router.get('/author/:author_id/update', author_controller.author_update_get);-->
<!--<a href="/blog/author/:author_id/update">Author Update GET </a> |-->

<!--router.post('/author/:author_id/update', author_controller.author_update_post);-->
<!--<a href="/blog/author/:author_id/update">Author Update POST </a> |-->

<!--router.get('/author/:author_id', author_controller.author_detail);-->
<!--<a href="/blog/author/:author_id">Author Detail One  </a> |-->

<!--router.get('/authors', author_controller.author_list);-->
<!--<a href="/blog/authors">Author Detail All </a> -->

<!--<br/>-->
<!-- COMMENTS LINKS -->

<!--router.get('/comment/create', comment_controller.comment_create_get);-->
<!--<a href="/blog/comment/create">Comment Create GET </a> | -->

<!--router.post('/comment/create', comment_controller.comment_create_post);-->
<!--<a href="/blog/comment/create">Comment Create POST </a> | -->

<!--router.get('/comment/:comment_id/delete', comment_controller.comment_delete_get);-->
<!--<a href="/blog/comment/:comment_id/delete">Comment Delete GET </a> | -->

<!--router.post('/comment/:comment_id/delete', comment_controller.comment_delete_post);-->
<!--<a href="/blog/comment/:comment_id/delete">Comment Delete POST   </a> | -->

<!--router.get('/comment/:comment_id/update', comment_controller.comment_update_get);-->
<!--<a href="/blog/comment/:comment_id/update">Comm Update GET </a> |-->

<!--router.post('/comment/:comment_id/update', comment_controller.comment_update_post);-->
<!--<a href="/blog/comment/:comment_id/update">Comm Update POST </a> |-->

<!--router.get('/comment/:comment_id', comment_controller.comment_detail);-->
<!--<a href="/blog/comment/:comment_id">Comm Detail One  </a> |-->

<!--router.get('/comments', comment_controller.comment_list);-->
<!--<a href="/blog/comments">Comm Detail All </a> -->

<!--<br/>-->
<!-- CATEGORY LINKS -->

<!--router.get('/category/create', category_controller.category_create_get);-->
<!--<a href="/blog/category/create">Category Create GET </a> | -->

<!--router.post('/category/create', category_controller.category_create_post);-->
<!--<a href="/blog/category/create">Category Create POST </a> | -->

<!--router.get('/category/:category_id/delete', category_controller.category_delete_get);-->
<!--<a href="/blog/category/:category_id/delete">Category Delete GET </a> | -->

<!--router.post('/category/:category_id/delete', category_controller.category_delete_post);-->
<!--<a href="/blog/category/:category_id/delete">Category Delete POST   </a> | -->

<!--router.get('/category/:category_id/update', category_controller.category_update_get);-->
<!--<a href="/blog/category/:category_id/update">Category Update GET </a> |-->

<!--router.post('/category/:category_id/update', category_controller.category_update_post);-->
<!--<a href="/blog/category/:category_id/update">Cat Update POST </a> |-->

<!--router.get('/category/:category_id', category_controller.category_detail);-->
<!--<a href="/blog/category/:category_id">Cat Detail One  </a> |-->

<!--router.get('/categories', category_controller.category_list);-->
<!--<a href="/blog/categories">Cat Detail All </a> -->

<!--</center>-->
<!--<br/>-->
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
