<!-- views/partials/header.ejs -->


  <nav class="navbar navbar-expand-sm bg-dark text-white mb-5">
    <!-- Brand/logo -->
    <a class="navbar-brand text-white font-weight-bolder fsb" href="/">MANIFEST</a>
    
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="mx-3 text-white"><a class="text-white text-uppercase" href="/">Home</a></li>
        <li class="mx-3"><a class="text-white text-uppercase" href="/employees">Employees</a></li>
        <li class="mx-3"><a class="text-white text-uppercase" href="/expenses">Expenses</a></li>
        <li class="mx-3"><a class="text-white text-uppercase" href="/categories">Categories</a></li>
        <li class="mx-3"><a class="text-white text-uppercase" href="/types">Types</a></li>

    </ul>
  </nav>