<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            BlogLogo
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/authors">Authors</a></li>
            <li><a href="/blog/posts">Posts</a></li>
            <li><a href="/blog/comments">Comments</a></li>
            <li><a href="/blog/categories">Categories</a></li>
        </ul>
    </div>

</div>
</nav>