<%- contentFor('right-sidebar') %>
    <div class="col-sm-4">        
            <div class="well">
                <h3>RIGHT SIDE BAR</h3>
                <p>The right side content goes here - they don't change often</p>

            </div>
    </div>