<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total posts in database is <%= postCount.count %></p>
    <p>Total authors in database is update me in index.ejs</p>
    <p>Total comments in database is update me in index.ejs</p>
    <p>Total categories in database is update me in index.ejs</p>

</div>