<%- contentFor('main-content') %>
 <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>MAIN PAGE</h1>
            <p>The main content of the page goes here</p>
        </div>
 </div>
<%- contentFor('right-sidebar') %>
    <div class="col-sm-4">        
            <div class="well">
                <h3>RIGHT SIDE BAR</h3>
                <p>The right side content goes here - they don't change often</p>

            </div>
    </div>
 